---
keepHere: doNotRemoveOrThisFileWillNotBeBuilt
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mr.Meat Brampton</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons
    ================================================== -->
  <link rel="icon" href="img/mrmeatfavicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="img/mrmeatfavicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation
    ==========================================-->

  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="headrebg">

      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="#page-top"><img style="width:200px;height:auto;" src="img/logo.png"
              title="mr meat" alt="mr meat"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#header" class="page-scroll">Home</a></li>
            <li><a href="#about" class="page-scroll">About</a></li>
            <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
            <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
            <!-- <li><a href="#contact" class="page-scroll">Contact</a></li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>

  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>Mr. Meat</h1>
              <p>YOUR BBQ & TANDOOR SPECIALIST</p>
              <a href="#restaurant-menu" class="btn btn-custom btn-lg page-scroll">See Our Menu</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

  </header>
  <!-- About Section -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-img"><img src="img/about.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2 style="margin-bottom:0px;">About US</h2>
            <hr>
            <p style="margin-top:0px;"><strong>Welcome to Mr Meat Shop !!<br><br></strong> We provide all kind of Fresh
              Marinated Chicken items, Kabab (Mild & Spicy), Fresh Ontario
              Goat, Ground Meat to name a few. People from across GTA have been traveling to our location to try our
              famous Tandoori
              and Curry dishes.</p>
            <p>We slow cook these meals in a Tandoor (Traditional Clay Oven) at sizzling temperatures to make sure
              you get the best food. Our Fish Pakora (Fried Fish) is immensely famous and our customers come from far to
              try that.
              Do not miss our Kashimiri Fish made with our years long Recipe in Tandoor. We are committed to give you
              quality Food
              with best service. Word of mouth is the best marketing strategy we have. Our customers proudly recommend
              our food to
              friends and relatives.'</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Restaurant Menu Section -->
  <div id="restaurant-menu">
    <div class="section-title text-center center">
      <div class="overlay">
        <h2>Menu</h2>
        <hr>
      </div>
    </div>
    <div class="container">
      {% for section in site.data.menu.sections %}
        {% assign remainder = forloop.index0 | modulo:3 %}
        {% if remainder == 0 %}
          <div class="row"> <!-- Starting row -->
        {% endif %}
        <div class="col-xs-12 col-md-4">
          <div class="menu-section">
            <h2 class="menu-section-title">{{ section.title }}</h2>
            <hr>
            {% for item in section.items %}
              <div class="menu-item">
                <div class="menu-item-name">{{ item.name }}</div>
                <div class="menu-item-price">{{ item.price }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% if remainder == 2 or forloop.last %}
          </div> <!-- Ending row -->
        {% endif %}
      {% endfor %}
      <p>All curries are available in medium and large portions</p>
    </div>
  </div>
  </div>
  <!-- Portfolio Section -->
  <div id="portfolio">
    <div class="section-title text-center center">
      <div class="overlay">
        <h2>Gallery</h2>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="categories">
          <ul class="cat">
            <li>
              <ol class="type">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".breakfast">CHICKEN</a></li>
                <li><a href="#" data-filter=".lunch">WRAPS </a></li>
                <li><a href="#" data-filter=".dinner">VEGETARIAN</a></li>
              </ol>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/01-large.jpeg" title="Chicken Leg"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Chicken Leg</h4>
                  </div>
                  <img src="img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/02-large.jpeg" title="Seekh Kebab "
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Seekh Kebab </h4>
                  </div>
                  <img src="img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/03-large.jpeg" title="Chicken Lapta Kebab"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Chicken Lapta Kebab</h4>
                  </div>
                  <img src="img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/04-large.jpeg" title="Tava Chicken"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Tava Chicken</h4>
                  </div>
                  <img src="img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/05-large.jpg" title="Chicken Tikka Wrap"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Chicken Tikka Wrap</h4>
                  </div>
                  <img src="img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/06-large.jpeg" title="Kebab Wrap"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Kebab Wrap</h4>
                  </div>
                  <img src="img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 lunch">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/07-large.jpeg" title="Fish Wrap"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Fish Wrap</h4>
                  </div>
                  <img src="img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 dinner">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/08-large.jpeg" title="Paneer Makhani"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Paneer Makhani</h4>
                  </div>
                  <img src="img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 dinner">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/10-large.jpeg" title="Paneer Curry"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Paneer Curry</h4>
                  </div>
                  <img src="img/portfolio/10-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 dinner">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/12-large.jpeg" title="Dal Makhani"
                  data-lightbox-gallery="gallery1">
                  <div class="hover-text">
                    <h4>Dal Makhani</h4>
                  </div>
                  <img src="img/portfolio/12-small.jpg" class="img-responsive" alt="Project Title">
                </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <!-- <div id="contact" class="text-center">
    <div class="container">
      <div class="section-title text-center">
        <h2>Contact Form</h2>

        <p>We'd love to hear from you. Send us a message and we'll respond as soon as possible</p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message"
              required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
        </form>
      </div>
    </div>
  </div> -->
  <div id="footer">
    <div class="container text-center">
      <div class="col-md-4">
        <h3>Address</h3>
        <div class="contact-item">
          <p><a href="img/location.png">Get Direction</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Hours</h3>
        <div class="contact-item">
          {% for hour in site.data.hours %}
            <p>{{ hour.day }}: {{ hour.hours }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <h3>Contact Info</h3>
        <div class="contact-item">
          <p>Phone: +1 905-794-1178</p>
          <p>Email: info@mrmeatbrampton.ca</p>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center copyrights">
      <div class="col-md-8 col-md-offset-2">
        <p>&copy; 2023 Mr.Meat. All rights reserved.</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/SmoothScroll.js"></script>
  <script type="text/javascript" src="js/nivo-lightbox.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.js"></script>
  <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
  <!-- <script type="text/javascript" src="js/contact_me.js"></script> -->
  <script type="text/javascript" src="js/main.js"></script>

  <script>
    jQuery(window).scroll(function () {



      var scroll = $(window).scrollTop();

      if (scroll > 20) {
        jQuery(".headrebg").addClass("darkHeader");
      } else {
        jQuery(".headrebg").removeClass("darkHeader");
      }
    });

  </script>
</body>

</html>
